
@model Persistence.ViewModels.VehicleViewModel
@using Utility.Extensions
@{ ViewData["Title"] = "View";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<br />
<h2 class="text-info">Vehicle Detail</h2>
<form>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Makes"></label>
        </div>
        <div class="col-4">
            <select disabled="disabled" asp-for="Vehicle.MakeID" asp-items="Model.Makes.ToSelectListItem()" class="form-control" id="Make"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Models"></label>
        </div>

        <div class="col-4">
            <select disabled="disabled" asp-for="Vehicle.ModelID" asp-items="Model.Models.ToSelectListItem()" class="form-control" id="Model"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Vehicle.Year"></label>
        </div>

        <div class="col-4">
            <Input disabled="disabled" asp-for="Vehicle.Year" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Vehicle.Mileage"></label>
        </div>

        <div class="col-4">
            <Input disabled="disabled" asp-for="Vehicle.Mileage" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Vehicle.Price"></label>
        </div>

        <div class="col-4">
            <Input disabled="disabled" asp-for="Vehicle.Price" class="form-control" />
        </div>
        <div class="col-1">
            <label asp-for="Vehicle.Currency"></label>
        </div>

        <div class="col-2">
            <select disabled="disabled" asp-for="Vehicle.Currency" asp-items="Model.Currencies.ToSelectListItem()" class="form-control"></select>
        </div>

    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Vehicle.Features"></label>
        </div>

        <div class="col-4">
            <textarea disabled="disabled" asp-for="Vehicle.Features" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Vehicle.SellerName"></label>
        </div>

        <div class="col-4">
            <Input disabled="disabled" asp-for="Vehicle.SellerName" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Vehicle.SellerEmail"></label>
        </div>

        <div class="col-4">
            <Input disabled="disabled" asp-for="Vehicle.SellerEmail" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Vehicle.SellerPhone"></label>
        </div>

        <div class="col-4">
            <Input disabled="disabled" asp-for="Vehicle.SellerPhone" class="form-control" />
        </div>
    </div>
    <br />
    <div class="form-group">
        <a asp-action="Index" class="btn btn-success">Back</a>
    </div>
</form>



