<!-- Background image -->
<div class="p-5 text-center bg-image"
     style=" background-image: url('https://motoring.pxcrush.net/motoring/general/editorial/brabus-glb-2020-9.jpg?width=1024'); height: 400px; ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Xtreme Ride</h1>
                <h4 class="mb-3">Connecting AutoSeller To Buyers</h4>
                <a class="btn btn-outline-light btn-lg" asp-area="Seller" asp-controller="Seller" asp-action="Create" role="button">sell a car</a>
            </div>
        </div>
    </div>
</div>
<!-- Background image -->
